{% extends "index.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> Dataset using a TABLE from a DATABASE in MySQL showed here in HTML, Values are randomly generated. Connected via Azure</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Patient ID</th>
                    <th class="px-4 py-2">MRN</th>
                    <th class="px-4 py-2">Description</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}